@CHARSET "UTF-8";

#first_container {
	width: 100%;
	height: 700px;
	background-image: url("Images/ex_machina.jpg");
}

header {
	width: 100%;
	display: inline-block;
	clear: both;
}

header > section, header > nav:nth-child(2) {
	float: left;
	width: 50%;
}

header > section {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	background-color: black;
	font-size: 60px;
	color: white;
	padding: 0px 100px 20px 100px;
	height: 80px;	
	font-weight: bold;
	
} 


header > nav:nth-child(2){
	background-color: black;
	height: 80px;
}

#first_list {
	width: 100%;
	display: inline-block;
	clear: both;
}

#first_list li {
	float: left;
	width: 16.66%;
}

#first_list li a {
	font-family: Arial, Helvetica, sans-serif;
	color: grey;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
}

#first_list li a:hover {
	color: white;
}

.list_item {
	text-align: center;
}

header > nav:nth-child(3) {
	background-color: #bf3c51;
}

#second_list {
	background-color: #bf3c51;
	height: 80px;
	width: 85%;
	display: block;
	clear: both;
	margin: 0 auto;
}

#second_list li {	
	float: left;
	width: 16.66%;
	text-align: right;
	margin-top: 30px;
}

#second_list li a {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
}

#ex_machina {
	width: 80%;
	margin: 0 auto;
}

#ex_machina h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
}

#ex_machina p {
	color: grey;
	font-size: 25px;
	text-align: center;
	margin-bottom: 25px;
}

#ex_machina > div:nth-child(2) {
	width: 100%;
	height: 150px;
	margin-bottom: 55px;
}

#link_container {	
	clear: both;
	width: 40%;
	margin: 0 auto;	
}

#link_container a {
	font-size: 20px;
	height: 40px;
	float: left;
	width: 48.6%;
	border: 1px solid grey;
	color: grey;
	text-align: center;
	text-decoration: none;
	padding-top: 15px;
	border-radius: 30px;
}

#link_container a:first-child {
	margin-right: 4px;
}

#link_container a:last-child {
	margin-left: 4px;
}

footer div{
	width: 60%;
	margin: 0 auto;
}

footer div img {
	height: 130px;
	width: 230px;
}

footer div img:hover {
     transform:scale(1.25);
}

#second_container {
	width: 100%;
	height: 600px;
	background-image: url("Images/background_1.jpg");
}

#second_container section:first-child {
	width: 100%;
}

#second_container section:first-child h1 {
	width: 70%;
	margin: 0 auto;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	padding: 50px 0px;
}

#second_container section:first-child p {
	width: 80%;
	font-size: 20px;
	margin: 0 auto;
	color: grey;
	text-align: center;
	margin-bottom: 50px;
}

#second_container form {
	width: 80%;
	display: block !important;
	margin: 0 auto !important;
	clear: both;
}

.input_containers {
	float: left;
	width: 25%;
	height: 250px;
}

.input_containers label {
	font-family: Arial, Helvetica, sans-serif !important;
	color: white;
	font-size: 20px !important;	
}

div.input_boxes {
	margin: 10px 0px;
}


#search_button {
	width: 30%;
	margin: 0 auto;
	text-align: center;
}

#search_button button {
background-image: url("Images/background_1.jpg");
color: white;
width: 140px;
height: 60px;
border-radius: 40px;
}

#third_container {
	width: 100%;
	height: 1200px;
	background-image: url("Images/background_1.jpg");
}

#third_container h1 {
	width: 40%;
	margin: 0 auto;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding: 30px 0px;
}

#third_container img {
	width: 200px;
	height: 250px;
}

#third_container img:hover {
	width: 300px;
	height: 350px;
}


#third_container section:nth-child(2) {
	width: 80%;
	display: block;
	clear: both;
	margin: 0 auto;
	height: 1000px;
}

#third_container figure {
	
	float: left;
	width: 25%;
	padding: 20px 0px;;
	text-align: center;
	overflow: hidden;
}

#third_container a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

#third_container a:hover {
	color: red;
}

#third_container figcaption { 
	margin-top: 10px;	
}

div.image_div {
	display: inline-block;
	width: 200px;
	height: 250px;
	overflow: hidden;
}

#fourth_container {
	width: 100%;
	height: 600px;
	background-color: #bf3c51;
}

#fourth_container h1 {
	color: white;
	font-weight: bold;
	width: 40%;
	margin: 0 auto;
	text-align: center;
	padding: 60px 0px;
	font-size: 40px;
}

#fourth_container section {
	display:inline-block;
	width: 100%;
	clear: both;
}

#fourth_container section > * {
	float: left;
	width: 33.3%
}

#fourth_container a {
	box-sizing: border-box;
	color: white;
	font-size: 60px;
	text-decoration: none;
	margin: 100px 200px;
}

#fourth_container a:hover {
	color: grey;
}

#fourth_container section > div {
	padding-top: 80px;
}

#fourth_container figure > div {
	width: 210px;
	height: 220px;
	margin: 0 auto;
	border-radius: 150px;
	overflow: hidden;	
} 

#fourth_container figcaption {
	width: 30%;
	margin: 0 auto;
	text-align: center;
	color: white;
	padding-top: 5px;
} 

#second {
	color: #b0acac;
	font-size: 10px;
}

#fourth_container p {
	width: 70%;
	margin: 0 auto;
	color: white;
	text-align: justify !important;
	padding-top: 50px;
	font-size: 20px;
}

#fifth_container {
	width: 100%;
	height: 600px;
	background-image: url("Images/background_1.jpg");
}

#fifth_container h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	width: 40%;
	margin: 0 auto;
	text-align: center;
	padding: 60px 0px;
	font-size: 40px;
}

#fifth_container form {
	display: inline-block;
	width: 100%;
	clear: both;
}

.move {
	float: left;
	width: 50%;
}

.move input {
	height: 20px;
	width: 60%;
	margin-left: 100px;
	background-image: url("Images/background_1.jpg");
	color: #b6adad;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 2px inset #b6adad;
}

.move input:hover {
	height: 30px;
}

#fifth_container textarea {
	font-size: 15px;
	height: 30px;
	display: block;
	width: 80%;
	margin-left: 100px;
	margin-top: 150px;
	background-image: url("Images/background_1.jpg");
	color: #b6adad;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 2px inset #b6adad;
}

#fifth_container textarea:hover {
	height: 30px;
}

#fifth_container button {
background-image: url("Images/background_1.jpg");
color: white;
width: 140px;
height: 60px;
border-radius: 40px;
}

#fifth_container form div:last-child {
	padding-top: 100px;
	margin: 0 auto;
	width: 15%;
}

#sixth_container {
	width: 100%;
	background-image: url("Images/background_1.jpg");
	height: 600px;
}

iframe {
	display: block;
	width: 80%;
	height: 550px;
	margin-left: 100px !important;
	background-color: #f00;
}